element.style {
}
@media (min-width: 800px)
main.min.css:1
.container--fluid {
    max-width: 95%;
}
@media (min-width: 800px)
main.min.css:1
.container {
    padding-left: 3.16049rem;
    padding-right: 3.16049rem;
}
main.min.css:1
.container--fluid {
    max-width: 100%;
}
@media (min-width: 480px)
main.min.css:1
.container {
    padding-left: 2.37037rem;
    padding-right: 2.37037rem;
}
main.min.css:1
.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 1.77778rem;
    padding-right: 1.77778rem;
    max-width: 42.09239rem;
}
main.min.css:1
.container--fluid, .intro, .page, a.btn {
    position: relative;
}
main.min.css:1
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
main.min.css:1
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
Inherited from div.intro
main.min.css:1
.intro {
    width: 100%;
    padding-top: 2.37037rem;
    padding-bottom: 7.49154rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: left;
    -webkit-align-items: left;
    -moz-box-align: left;
    -ms-flex-align: left;
    align-items: left;
    background-color: #fff;
    z-index: 10;
    text-align: left;
}
main.min.css:1
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
Inherited from div.page
main.min.css:1
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
Inherited from body
main.min.css:1
body {
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    line-height: 1.4;
    background-color: #fff;
    color: #353535;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-align: left;
}
main.min.css:1
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
Inherited from html.emergence
@media (min-width: 480px)
main.min.css:1
html {
    font-size: 22px;
}
main.min.css:1
html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-smoothing: antialiased;
    tap-highlight-color: transparent;
    min-height: 100%;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}
main.min.css:1
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
Pseudo ::before element
main.min.css:1
.container:after, .container:before {
    content: " ";
    display: table;
}
main.min.css:1
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
Pseudo ::after element
main.min.css:1
.container:after {
    clear: both;
}

main.min.css:1
.container:after, .container:before {
    content: " ";
    display: table;
}
main.min.css:1
*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
